.contactContainer {
    background-color: #1A0F24;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.contactLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 50rem;

    margin-bottom: 10rem;
    text-align: left;
}

.contactLinks h1 {
    font-size: 3.5rem;
    color: #00C9B0;
}

.contactLinks p {
    margin: 4rem 0 3rem 0;
    font-weight: 800;
    font-size: 1.4rem;
    word-spacing: 0.1rem;
    line-height: 2rem;
}

.emailContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #473356;
    width: 30rem;
    border-radius: 25px;
    margin: 2rem 0 2rem 0;
    box-shadow: 10px 10px 10px #09040b;
}

.emailContainer h2 {
    margin-top: 0;
    margin-left: 1rem;
}

.emailContainer img {
    margin: 0.4rem 0 0.4rem 0;
}

.emailLink {
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    transition: text-decoration-color 300ms, text-underline-offset 300ms;
    text-underline-offset: 0.2em;
    color: #f3d512; 
}


.emailLink:hover {
    text-decoration-color: #00C9B0;
    text-underline-offset: 0.3em;
}

.contactInfo {
    /* border: 1px solid blue; */
    width: 40rem;
}

.contactInfo span {
    color: #f3d512;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    /* border: 1px solid black; */
    border-radius: 25px;
    width: 50rem;
    /* background-color: #39224a; */
}

.contactHeader {
    font-size: 2.8rem;
    color: #00C9B0;
}

.formContainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .formContainer label {
    font-size: 2rem;
    margin-bottom: 0.5rem;
} */

.formContainer input {
    margin-bottom: 3rem;
    padding: 1rem 0.8rem;
    font-size: 1.2rem;
    font-weight: 600;
    width: 30rem;
    border-radius: 10px;
    border: 0;
    background-color: #473356;
    color: #FFFADE;
    box-shadow: 10px 10px 5px #09040b;
    transition: box-shadow 300ms;
}

.formContainer input:hover {
    box-shadow: 15px 15px 10px #09040b;
}

.formContainer input:focus {
    outline: 2px solid #00C9B0;
}

#message {
    background-color: #473356;
    color: #FFFADE;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.8rem;
    width: 30rem;
    height: 20vh;
    border-radius: 10px;
    border: 0;
    resize: none;
    box-shadow: 10px 10px 5px #09040b;
    transition: box-shadow 300ms;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;;
}

#message:hover {
    box-shadow: 15px 15px 10px #09040b;
}

#message:focus{
    outline: 2px solid #00C9B0;
}

::placeholder {
    color: #b8b6ac;
}

.button {
    font-size: 1.6rem;
    height: 5vh;
    width: 10rem;
    border-radius: 25px;
    border: 0;
    margin-bottom: 1rem;
    font-weight: 600;
    background-color: #473356;
    color: #f3d512;
    box-shadow: 10px 10px 10px #09040b;
    cursor: pointer;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: border 300ms;
}

.button:hover{
    border: 2px solid #00C9B0;
}
