.nav {
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 0;
    z-index: 1;
    height: 6vh;
    /* border-bottom: 1px solid; */
    padding: 0.6rem;
  }

.navContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    column-gap: 3rem;
}
  
.navName {
    margin-left: 3rem;
    font-size: 2rem;
    font-weight: 600;
}

.navLinksWrapper{
    height: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
}
  
.navLinks {
    font-size: 1.7rem;
    padding-top: 5px;
    font-weight: 500;
    margin-right: 3rem;
}


.nav ul li { 
    list-style: none;
    font-family: 'Poppins', sans-serif;
}


.nav ul li:not(:first-child):hover a {
    color: yellow; 
  }


.nav a {
    text-decoration: none;
    color: #FFFADE; 
} 

@media (max-width: 1750px) {
    .nav{
        background-color: red;
        justify-content: space-evenly;
    }
    }