.projectContainer{ 
    background-color: #2c102d; 
    padding: 0 10px 0 10px;
    margin-top: 5rem;
    /* display: flex;
    justify-content: center;
    align-content: center; */
    
}

.projectInformation {
    /* border: 1px solid blue; */
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-direction: column;
    width: 30rem;
    height: 45rem;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 10px 10px 10px 10px #170918;

}

.projectImg {
    width: 30rem;
    height: 25rem;
    overflow: hidden;
}

/* to contain paragraph and span */

.projectDescriptionWrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #2a1d37;
    height: 25rem;
}

.projectName {
    /* font-family: 'Poppins', sans-serif;    */
    font-size: 1.8rem;
    font-weight: 1000;
    /* margin-bottom: 3rem; */
}

.projectDescriptionWrapper p {
    
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    word-wrap: break-word;
    text-align: left;
    padding: 0 20px 0 20px;
}

.projectDescriptionWrapper span {
    font-size: 1.3rem;
    line-height: 3rem;
    font-weight: 600;
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    transition: text-decoration-color 300ms, text-underline-offset 300ms;
    text-underline-offset: 0.2em;
}

.projectDescriptionWrapper span:hover {
    text-decoration-color: #00C9B0;
    text-underline-offset: 0.3em;
}

.projectDescriptionWrapper span a {
    color: #00C9B0;
    text-decoration: none;
}

.projectDescriptionWrapper span a:visited {
    color: #00C9B0;
}

.repo {
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* border: 1px solid blue; */
    margin-top: -1.5rem;
    height: 3rem;
    margin-bottom: 2rem;
}

.repo img {
    width: 4rem;
}
