.projectContainer{ 
    /* background-color: #2c102d;  */
    margin-top: 5rem;
    display: flex;
}


.projectInformation {
    display: flex;
    flex-direction: column;
    width: 27rem;
    /* height: 45rem; */
    border-radius: 10px;
    overflow: hidden;
    /* border: 5px solid red; */
    box-shadow: 10px 10px 10px 10px #170918;
    
}

.projectImg {
    width: 27rem;
    height: 20rem;
    overflow: hidden;
}

/* to contain paragraph and span */

.projectDescriptionWrapper {
    display: flex;
    /* border: 1px solid blue; */
    justify-content: space-between;
    flex-direction: column;
    background-color: #2a1d37;
    height: 26rem;
}

.projectName {
    font-size: clamp(1.5rem, 1.5vw, 3rem);
    font-weight: 1000;
    margin-top: 1rem;
}

.projectDescriptionWrapper p {
    font-size: clamp(1.3rem, 1vw, 2rem);
    line-height: 1.5;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    word-wrap: break-word;
    text-align: left;
    padding: 0 20px;
}

.projectDescriptionWrapper span {
    font-size: clamp(1.6rem, 1.5vw, 3rem);
    line-height: 3rem;
    font-weight: 600;
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    transition: text-decoration-color 300ms, text-underline-offset 300ms;
    text-underline-offset: 0.2em;
}

.projectDescriptionWrapper span:hover {
    text-decoration-color: #00C9B0;
    text-underline-offset: 0.3em;
}

.projectDescriptionWrapper span a {
    color: #00C9B0;
    text-decoration: none;
}

.projectDescriptionWrapper span a:visited {
    color: #00C9B0;
}

.repo {
    display: flex;
    justify-content: center;
    align-items: center;
    /* justify-content: space-around; */
    flex-direction: row;
    /* margin-top: -1.5rem; */
    margin-bottom: 2rem;
}

.repo img {
    /* border: 1px solid red; */
    margin-right: 5px;
    width: 3rem;
    height: 3rem;
}

@media (max-width:600px) {
    .projectInformation{
        max-width: 20rem;
    }
    .projectImg{
        max-width: 20rem;
        height: 13rem;
    }
    .projectDescriptionWrapper{
        max-width: 20rem;
        height: 23rem;
    }
    .projectDescriptionWrapper p {
        font-size: 1rem;
    }
    .repo span a{
        font-size: 1.3rem;
    }
}

@media (max-width:380px) {
    .projectInformation{
        max-width: 15rem;
    }
    .projectImg{
        max-width: 15rem;
        height: 11rem;
    }
    .projectDescriptionWrapper{
        max-width: 15rem;
        height: 15rem;
    }
    .projectName{
        font-size: 1.2rem;
    }
    .projectDescriptionWrapper p {
        font-size: 0.7rem;
    }
    .repo{
        margin-bottom: 1rem;
    }
    .repo span a{
        font-size: 1rem;
    }
    .repo img {
        width: 2rem;
        height: 2rem;
    }
}