.App {
  text-align: center;
  overflow-x: hidden;
}

/* wave divider between project and contact section */
.spacer {
  aspect-ratio: 900/150;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.layer1 {
  background-image: url('/public/images/waves.svg');
}

.backgroundContainer{
  background-image: url('/public/images/blob.svg');
}
