@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
*{
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  color: #FFFADE;
  height: 100%;
  background-color: #1A0F24;
  /* figure out how to fix html background color when scroll above/below body */
  /* background-color: #1A0F24;
  background: linear-gradient(0deg, #1A0F24, #64437c 80%); */
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px; 
}

::-webkit-scrollbar-track {
  background: #1A0F24; 
}

::-webkit-scrollbar-thumb {
  background: #00C9B0; 
}

::-webkit-scrollbar-thumb:hover {
  background: #007567; 
}