.projectSection {
    background-color: #2c102d;
    padding-top: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectHeader {
    font-size: clamp(1rem, 10vw, 3rem);
    /* z-index: 1;     */
    color: #00C9B0;
    background-color: #2c102d;
}

.projectsGrid {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    gap: 100px;
}

@media (max-width: 1200px) {
    .projectsGrid{
        flex-direction: column;
        /* gap: 60px; */
    }
}

@media (max-width: 600px) {
    .projectsGrid{
        flex-direction: column;
        /* gap: 10px; */
    }
}