.nav ul li:first-child { 
    float: left;
    margin-left: 10px;
}

.nav {
    text-align: right;
}

.nav ul li { 
    list-style:none;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    display: inline-block;
    margin-right: 5rem;
}

.nav a {
    text-decoration: none;
    color: black; /* Customize the color as needed */
}

.nav ul li:not(:first-child):hover a {
    color: #73b2fa; /* Customize the hover color as needed */
  }

.navContainer {
    overflow: auto;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    border: 3px solid blue;
    background-color: white;
}

